/SVN_tOrder/.svn
/SVN_tOrder/tOrder/tOrder_UI/tOrder.solution/bin
/SVN_tOrder/tOrder/tOrder_UI/.vs
/SVN_tOrder/tOrder/tOrder_UI/tOrder.solution/obj
/SVN_tOrder/tOrder/tOrder_UI/tOrder/bin
/SVN_tOrder/tOrder/tOrder_UI/tOrder/obj
